In [19]:
from selenium import webdriver
import pandas as pd
import time

In [20]:
driver = webdriver.Chrome('.\src\chromedriver.exe')
time.sleep(3)
#driver.implicitly_wait(3)
driver.get('https://pt.wikipedia.org/wiki/Nicolas_Cage')

C:\Users\victor.goncalves\AppData\Local\Temp\ipykernel_17452\3253966977.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('.\src\chromedriver.exe')

In [21]:
def tem_intem_xpath(xpath, driver = driver):
    try:
        driver.find_element('xpath', xpath)
        return True
    except:
        return False

In [22]:
tb_filmes = '//*[@id="mw-content-text"]/div[1]/table[2]'

In [23]:
if not tem_intem_xpath(tb_filmes):
    print('Ok')

# tentativas de buscar o item enquanto a página carrega
i = 0
while not tem_intem_xpath(tb_filmes):
    i += 1
    time.sleep(1)
    if i > 50:
        break
    print(f"Tentativa: {i}")
    pass

In [24]:
tabela = driver.find_element('xpath', '//*[@id="mw-content-text"]/div[1]/table[2]')
df = pd.read_html('<table>' + tabela.get_attribute('innerHTML') + '</table>')[0]

In [25]:
# o with vai garantir que o aquivo esteja aberto enquanto o laço estiver rodando
# wb = write in bytes
with open('print.png', 'wb') as f:
    f.write(driver.find_element('xpath', '/html/body/div').screenshot_as_png)

In [26]:
driver.close()

In [27]:
df[df['Ano']==1984]

    Ano       Título original Título em português                  Papel Notas
3  1984  Racing with the Moon   Adeus à Inocência            Nicky e Bud   NaN
4  1984       The Cotton Club                 NaN          Vincent Dwyer   NaN
5  1984                 Birdy                 NaN  Sargento Al Columbato   NaN

In [32]:
df.to_csv('filmes_Nicolas_cage.csv', sep=';', index=False)